*,
*::after,
*::before {
    box-sizing: border-box;}

/*-------------------COMMENTAIRES DES BASES DES SITES-------------------*/

/* Couleur sombre ++       : black 
   Couleur sombre +        : ??
   Couleur sombre  (gris)  : #E6E6E6
   Couleur claire          : #F2F2F2
   Couleur la + claire     : white

   Taille police           : 22px
   Couleur police          : black / white

/*-------------------FONTS-------------------*/
@font-face{
	font-family: "Karla";
	src: url('fonts/Karla-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Karla";
	src: url('fonts/Karla-Bold.woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: "Karla";
	src: url('fonts/Karla-Italic.woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face{
	font-family: "Karla";
	src: url('fonts/Karla-BoldItalic.woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: "Karla";
	src: url('fonts/Karla-Light.woff2');
	font-weight: lighter;
	font-style: normal;
}
/*-------------------FONTS-------------------*/

html{
	background-color: white;
	font-family: "Karla";
}

/*-------------------HEADER-------------------*/
header{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	z-index: 3;
}

nav{
	width: 100%;
}

nav ul{
	display: flex;
	list-style: none;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding : 0px 225px 0px 300px;
}

.hover-underline-animation{
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #E5E5E5;
	font-size: 15px;
	padding : 10px 5px;
	letter-spacing: 0.5px;
}
.hover-underline-animation:hover{
	color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 3px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  border-radius: 3px;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
   border-radius: 3px;
}
/*-------------------HEADER-------------------*/

/*-------------------FOOTER-------------------*/
footer{text-align: center;
	font-size : 0.8rem;
	background-color : #E6E6E6;
	padding : 20px 0;
}
footer p{margin : 0
}
/*-------------------FOOTER-------------------*/





/*---------------------------------------------------------PAGE INDEX---------------------------------------------------------*/


body{
	margin: 0;
}

main{
	padding: 60px 0;
	text-align: center;
	background-color: #F2F2F2;
	height: 6000px;
}

main > div{
	padding : 20px 0;
}

main div:nth-child(1){
	background-color : #E1E1E1;
}

section{
	margin: 0;
	padding : 0;
	height : 4000px;
}

section div:nth-child(2){
	padding-top: 80px;
}

.text{
	display : block;
	max-width: 1150px;
	padding : 150px 0;
	margin : auto;
	margin-top : 0;
	margin -bottom : 0;
}
#sticky{
	position : sticky;
	top : -170px;
	padding : 160px 0;
}
#sticky2{
	position : sticky;
	top : 85px;
}
#sticky3{
	position : sticky;
	top : 165px;
}
#sticky4{
	position : sticky;
	top : 245px;
	padding-bottom: 80px;
}
#sticky5{
	position : sticky;
	top : 475px;
	padding-top: 0;
}
#sticky6{
	position : sticky;
	top : 405px;
	padding-bottom: 80px;
}
#sticky7{
	position : sticky;
	top : 635px;
	padding-top: 0;
}
#sticky8{
	position : sticky;
	top : 565px;
	padding-bottom: 80px;
}
#sticky9{
	position : sticky;
	top : 795px;
	padding-top: 0;
}

.eraser{
	display:block;
	position : relative;
}
#eraser1{
	width : 1150px;
	height : 10px;
	border-radius: 10px;
	background-color: #292929;
	border-color: #292929;
	margin: auto;
	margin-top : 138px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 2;
}
#eraser2{
	background-color:#F2F2F2;
	height: 100px;
	z-index: 1;
}
#start{
	font-size : 50px;
	color :#292929;
	margin : 0;
	padding-top : 130px;
}

.text p{
	font-size : 24px;
	margin : 0;
	font-weight: bolder;
	color: #3B3B3B;
}

h1{
	padding : 27px 0;
	margin : 0;
	font-weight: lighter;
	font-size: 2em;
}

.titre{
	margin-bottom: 50px;
}

.logo{
	margin-left: 40px;

}

.container{
	display : flex;
	margin : auto;
	padding : 40px 0;
	max-width: 1150px;
	flex-direction : row;
	flex-wrap : nowrap;
	justify-content : space-between;
	align-items : center;
}

.container span{
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;    /*"PERFECT" ARC-EN-CIEL*/
}

.container p{
	width : 70%;
	line-height: 60px;
	font-size : 24px;
	margin : 0;
	font-weight: bolder;
	color: #3B3B3B;
}

.image1{
	position : static;
	margin-top : 50px;
	height: 470px;
}

.image2{
	position : static;
	height : 300px;
}

/*---------------------------------------------------------PAGE INDEX---------------------------------------------------------*/







/*---------------------------------------------------------PAGE TUTO----------------------------------------------------------*/
.tuto section{
	text-align: left;
	margin: 0 20% 0% 20%;
}

.tuto ol li{
	font-size: ;
}